

body,
html {
    width: 100%;
    height: 100%;

}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    /*font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: 'Josefin Slab', serif;
    font-weight: 700;

}

.toCome {
    padding-top: 20px;
}

.mePic {
    height:250px;
}

.topnav {
    font-size: 14px; 
}

.navbar-brand {
    font-size: 20px;
    font-family: 'Poiret One', cursive;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px;  
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/sfheader.jpg) no-repeat center center;
    background-size: cover; 
}

.navbar {
	background-color: white;
	opacity: .5;
	font-weight: bold;
}

a {
    color: black;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 1px 1px 1px black;
    font-size: 5em;
    color: white;
    font-weight: bold;
    font-family: 'Bevan', cursive;
    opacity: .8;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    opacity: .7;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-social-buttons {
    opacity: .7;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.webPic {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Poiret One', cursive;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f2f2f2;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 1px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/sfbanner.jpg) no-repeat center center;
    background-size: cover;
}

.mePic {
    height: 200px;
    padding-left: 20%;
    margin: 0;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
    font-family: 'Poiret One', cursive;
    opacity: .7;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}