

body,
html {
    width: 100%;
    height: 100%;

}

p { 
   text-indent: 10px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
 {
    font-family: 'Josefin Slab', serif;
    font-weight: 700;

}

.row {
    font-family: 'Josefin Slab', serif;
}



.mePic {
    height:250px;
}

.topnav {
    font-size: 14px; 
}

/*.navbar-brand {
    font-size: 20px;
}*/

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px;  
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/sfsutro.jpg) no-repeat center center;
    background-size: cover; 
}

.navbar {
	background-color: white;
	opacity: .5;
	font-weight: bold;
    font-family: 'Josefin Slab', serif;
}

a {
    color: black;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 1px 1px 1px black;
    font-size: 6em;
    color: white;
    font-weight: bold;
    opacity: .8;
    font-family: 'Cedarville Cursive', cursive;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    opacity: .7;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-social-buttons {
    opacity: .8;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    .navbar {
        display: none;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.webPic {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Josefin Slab', serif;
}

.content-section-a {
    padding: 20px 0;
    background-color: #f2f2f2;
}

.content-section-b {
    padding: 20px 0;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 1px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/grass.jpg) no-repeat center center;
    background-size: cover;
    height: 300px;
}

.mePic {
    height: 300px;
    padding-left: 20%;
    margin: 0;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
    font-family: 'Josefin Slab', serif;
    opacity: .8;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: right;
        margin-top: 10px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    .mePic {
        width: 90%;
        height: 90%;
        /*height: 200px;*/
        margin: 10px;
        margin-bottom: 20px;
        padding: 10px;
    }

    ul.banner-social-buttons > li {
        /*display: block;*/
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

span.copyright {
    margin: 15px 0 0;
    font-family: 'Cedarville Cursive', cursive;
}





.portPic {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  color: black;
  text-align: right;
  font-size: 16px;
  font-family: 'Josefin Slab', serif;
}

.portPicA {
    background-color: white;
}

.portPic * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.portPic img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.portPic figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 20px;
  
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.portPic h2,
.portPic h3,
.portPic p {
  margin: 0;
}

/*.portPic h2,
.portPic h3 {
  line-height: 1.2em;
}*/


.portPic h3 {
  color: black;
  font-size: 1.3em;
  font-weight: normal;
  letter-spacing: 1px;
  border-bottom: 1px solid #e6e6e6;
}

.portPic p {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.9em;
  margin-top: 0px;
  padding: 12px 0 15px;
  line-height: 1.5em;
  color: grey;
}

.portPic a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.portPic:hover > img,
.portPic.hover > img {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.portPic:hover figcaption,
.portPic.hover figcaption {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

